# 🔗 URL de conexión completa a la base de datos PostgreSQL
# Útil si estás usando Prisma u otra librería que acepte una cadena unificada
# Formato: postgres://usuario:contraseña@host:puerto/nombre_base
DATABASE_URL= postgres://usuario:contraseña@host:puerto/nombre_base

# 🌐 Host donde corre tu base de datos PostgreSQL
# Si estás usando Docker, esto suele ser 'localhost' desde tu máquina
DATABASE_HOST=localhost

# 🔢 Puerto en el que escucha PostgreSQL (por defecto es 5432)
DATABASE_PORT= "1234"

# 👤 Usuario de PostgreSQL
DATABASE_USER= "user postgres"

# 🔐 Contraseña del usuario de PostgreSQL
DATABASE_PASSWORD="postgres"

# 🗄️ Nombre de la base de datos que se va a utilizar
DATABASE_NAME=fishpot