version: "3.8"

services:
  db:
    image: postgis/postgis:15-3.4  
    container_name: postgres-fishpot
    restart: always
    environment:
      POSTGRES_DB: fishpot
      POSTGRES_USER: postgres             ## todo esto despues vamos a tener que ponerlo en el .env!!!!! IMPORTANTEEE
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


volumes:
  postgres_data: