services:
  db:
    image: postgis/postgis:15-3.4
    container_name: BD-FishSpot
    environment:
      POSTGRES_DB: fishpot
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db-init:/docker-entrypoint-initdb.d
    networks:
      - app-network

  backend:
    build: ./fish-spot-Backend  
    container_name: nest-backend
    env_file:
      - ./fish-spot-Backend/.env
    environment:
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_USER: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_NAME: fishpot
    ports:
      - "3000:3000"
    depends_on:
      - db
    networks:
      - app-network

  frontend:
    build: ./FishSpot_Frontend
    container_name: react-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
